<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 

<body class="products-search">
  <%- include('./partials/header') %> 

    <main>
    <p>Resultado de la busqueda</p>
      <section>
        
              <% products.forEach(product => { %>


                <div class="box-product">
                  <a href="/product/detailProduct/<%= product.id %>">


                    

                    <article class="card-search">
                        <figure>
                            <img src="/images/detailProduct/<%= product.images[0].file %>">
                        </figure>
                      
                        <div class="contenido">
                          <h3><%= product.name %></h3>
                          <p class="precio-regular">Precio regular: $<%= product.priceRegular %></p>
                          <p class="precio">$<%= product.price %></p>
                          <div class="envio-gratis">
                            <p><i class="fas fa-truck"></i>Envio <b>GRATIS</b> a CABA Y GBA</p>
                          </div>
                          
      
                          <% if (product.discount >=  10) { %>
                            <div class="descuento">
                             <p><%= product.discount %>%OFF</p>
                           </div>
                           <% } %>
      
                        </div>

                    </article>
                   
                 </a>
                
                </div>
            <% }) %>
  
            
       
      </section>


    </main>


    <%-include('./partials/footer')%>
    <%-include('./partials/scripts') %> 

</body>
</html>